.weather-container {
  width: 30vw;
  min-width: 400px;
  height: 70vh;
  min-height: 300px;
  background: lightgray;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}
input {
  width: 40%;
  margin: 10px 0 10px;
  /* position: relative; */
  /* left: 28%; */
  padding: 2px;
  text-align: center;
  border-radius: 2px;
  height: 30px;
}
.container-header {
  display: block;
}
.main-weather {
  box-shadow: inset 0 0 10px #000000;
  height: 100%;
  width: 100%;
  padding: 10px;
  background: whitesmoke;
  /* display: flex;
  flex-direction: column; */
  /* justify-content: space-around; */
  overflow-y: scroll;

  /* align-items: center; */
}
.main-weather2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-y: scroll;

  /* align-items: center; */
}
.flexed {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexed button {
  width: 25%;
  height: 30px;
  border-radius: 2px;
  background: white;
}
.flexed button .back {
  width: 30px;
}
.zipFail {
  position: absolute;
  top: 28%;
  background: lightcoral;
  font-size: 14px;
  animation: disappear;
  animation-duration: 6s;
}
@keyframes disappear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 1000px) {
  .weather-container {
    width: 100vw;
    height: 100vh;
    padding: 15px;
    border-radius: 0px;
  }
  .main-weather {
    height: 100%;
    width: 80%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-y: scroll;
    /* align-items: center; */
  }
}
