<div class="weather-container">
  <header class="container-header">
    <h1>Find your local weather</h1>
    <form class="flexed" (ngSubmit)="searchWeather()">
      <input type="text" placeholder="Enter your zip code" [(ngModel)]="zipInput" name="zip">
      <button (click)="searchWeather()">Search Weather</button>
      <button (click)="clearResults()" class="back" *ngIf="cityWeather">Go back</button>
    </form>
  </header>

  <h3 *ngIf="cityData">{{cityData}}</h3>
  <div class="main-weather">
    <div *ngIf="!cityWeather" class="main-weather2">
      <div *ngFor="let item of weatherList">
        <app-weather-details [location]="item"></app-weather-details>
      </div>
    </div>
    <div *ngIf="cityWeather">
      <div *ngFor="let item of cityWeather">
        <app-city-forecast [city]="item"></app-city-forecast>
      </div>

    </div>
  </div>

</div>