.main-background {
  background-image: url("./../assets/MO-st-louis-gateway-arch-P.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}
.router-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
  position: relative;
  z-index: -5;
}
