/* You can add global styles to this file, and also import other style files */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.card {
  width: 95%;
  height: 30%;
  background: lightblue;
  margin: 10px 0 10px;
  display: flex;
  justify-content: space-around;
  border-radius: 2px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 2px 3px 2px #888888;
}

.list-items {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
